.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard > * {
    margin: 10px 0;
}

@media (min-width: 830px) {
    .dashboard {
        width: 375px;
        margin-left: 20px;
    }
}

@media (min-width: 1000px) {
    .dashboard {
        width: 475px;
        margin-left: 5vw;
    }
}

@media (min-width: 1200px) {
    .dashboard {
        width: 50%;
    }
}